<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <a href="/college/home">home</a>
    <a href="/college/about">about</a>
    <a href="/college/courses">courses</a>
    <a href="/college/faculty">faculty</a>
    <a href="/college/contact">Contact</a>
    <hr color="red" size="4">
    <h1>About us</h1>
</body>
</html>