<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="biege">

    <a href="/college/home">Home</a>
    <a href="/college/about">About</a>
    <a href="/college/course">Course</a>
    <a href="/college/contact">Contact</a>
    <a href="/college/insert">Insert</a>


    <hr size="4" color="grey">
    <h1>Our Courses</h1>
    <h2>Full Stack</h2>
    <h2>MERN Stack</h2>
    <h2>Python Stack</h2>
    <hr size="4" color="grey">
</body>
</html>