<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="biege">

    <a href="/college/home">Home</a>
    <a href="/college/about">About</a>
    <a href="/college/course">Course</a>
    <a href="/college/contact">Contact</a>
    <a href="/college/insert">Insert</a>
    
    <hr size="4" color="grey">
    <h1>Insert Data</h1>
    <form method="post" action="/college/save">

        Enter Roll No.: <input type="text" name="rollnum">
        <br>
        Enter Name: <input type="text" name="name">
        <br>
        Enter City: <input type="text" name="city">
        <br>
        Enter Fees: <input type="text" name="fee">
        <br>
        <button>Save</button>
    </form>
    <hr size="4" color="grey">
</body>
</html>